{% extends 'basic.html' %}

{% block title %}About Page{% endblock title %}

{% block body %}
<div class="container" style='margin-top:80px'>
    <section class="text-center">
        <h4 class="fs-2 display-5"><strong style="border-bottom:1px solid">ABOUT US</strong></h4>
        <p class='my-3 fs-4 display-5'>All Quran Accademy learn to read the holy Quran at home and abroad through
            online system.This accademy is founded on the bases of Islamic Education. It is a seminary with
            contemporary education and latest disciplines. The foundation for this seminary was laid by Mawlana
            Muhammad Alamin Shaheb. There are so many courses that you can learn and gain the right knowledge about Islamic Education and make yourself skillable in reading the Holy Quran and many others </p>
    </section>
</div>
{% endblock body %}

{% block js %}{% endblock js %}