{% extends 'basic.html' %}
{% block title %}Home page{% endblock title %}

{% block css %}
<style>
    h3.shifts {
        display: flex;
        width: 188px;
        background: darkgreen;
        color: wheat;
        margin: auto;
        height: 41px;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock css %}
{% block body %}
{% load static %}
<div class="container-fluid" style="">
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
        <div class="carousel-inner">
            {% for i in banners %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img src="/media/{{i.image}}" class="d-block w-100" alt="Wild Landscape"/>
            <div class="carousel-caption d-none d-md-block">
                <a href="/admission"><Button class="btn btn-primary btn-lg active btn-rounded">ADMISSION
                        NOW</Button></a>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>



<div class="container" style='margin-top:80px'>
    <section class="text-center">
        <h4 class="fs-2 display-5"><strong style="border-bottom:1px solid">ABOUT OUR COURSES</strong></h4>
        <p class='my-3 fs-4 display-5'>All Quran Accademy learn to read the holy Quran at home and abroad through
            online system.This accademy is founded on the bases of Islamic Education. It is a seminary with
            contemporary education and latest disciplines. The foundation for this seminary was laid by Mawlana
            Muhammad Alamin Shaheb </p>
    </section>
</div>

<div class="container" style='margin-top:80px'>
    <h4 class="fs-2 display-5 d-flex justify-content-center"><strong style="border-bottom:1px solid">WHO CAN JOIN
            OUR COURSES ?</strong></h4>
    <div class="row">
        <div class="d-flex align-items-center">
            <img class='p-1' style='width:50px; height: 50px;' src="{% static 'images/right-arrow.jpg' %}" alt="">
            <div class="fs-2 display-6">Honourable Teachers
            </div>
        </div>
        <div class="d-flex align-items-center">
            <img class='p-1' style='width:50px; height: 50px;' src="{% static 'images/right-arrow.jpg' %}" alt="">
            <div class="fs-2 display-6">Officers and employees of government and non-government organizations
            </div>
        </div>

        <div class="d-flex align-items-center">
            <img class='p-1' style='width:50px; height: 50px;' src="{% static 'images/right-arrow.jpg' %}" alt="">
            <div class="fs-2 display-6">Buissinessman</div>
        </div>
        <div class="d-flex align-items-center">
            <img class='p-1' style='width:50px; height: 50px;' src="{% static 'images/right-arrow.jpg' %}" alt="">
            <div class="fs-2 display-6">Retired and senior educators</div>
        </div>

        <div class="d-flex align-items-center">
            <img class='p-1' style='width:50px; height: 50px;' src="{% static 'images/right-arrow.jpg' %}" alt="">
            <div class="fs-2 display-6">Students of college and university</div>
        </div>
        <div class="d-flex align-items-center">
            <img class='p-1' style='width:50px; height: 50px;' src="{% static 'images/right-arrow.jpg' %}" alt="">
            <div class="fs-2 display-6">Hardworking day laborers and ordinary laborers</div>
        </div>
        <div class="d-flex align-items-center">
            <div class="fs-2" style="margin-left:60px"><strong>In a word, </strong>Al-Quran Academy welcomes those
                who have not been able to
                learn
                the religion for any reason.</div>
        </div>

    </div>
</div>

<div class="container" style='margin-top:80px'>
    <h3 class='shifts'>OUR SHIFTS</h3>
    <table class="table table-bordered border-primary">
        <thead>
          <tr class="align-middle">
            <th scope="col" style='font-size:20px'>FIRST SHIFT</th>
            <th scope="col" style='font-size:20px'>SECOND SHIFT</th>
            <th scope="col" style='font-size:20px'>THIRD SHIFT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AFTER FAZAR (45 MINUTES)</td>
            <td>AFTER (ASAR 45 MINUTES)</td>
            <td>AFTER 10PM (45 MINUTES)</td>
          </tr>
        </tbody>
      </table>
</div>

<!--Main layout-->
<div class="container-fluid">
    <main class="" style='margin-top:70px'>
        <div class="container">
            <!--Section: Content-->
            <section class="text-center">
                <h4 class="fs-2 display-5" style="margin-bottom:20px;"><strong style="border-bottom:1px solid">OUR
                        SERVICES</strong></h4>
                <div class="row">
                    {% for i in courses %}
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="/media/{{i.image}}" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{i.title}}</h5>
                                <p class="card-text">{{i.description}}
                                </p>
                                <a href="/admission" class="btn btn-primary">Get admitted now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!--Section: Content-->
        </div>
    </main>
    <!--Main layout-->
</div>

{% endblock body %}

{% block js %}{% endblock js %}